extends layout

block content

	div.row(data-ng-app="openb")
		div.col-md-12(data-ng-controller="CalculatorController")
			div
				div.form-group
					label(for="expression") Enter expression
					input#expression.form-control(type="text", name="expression", placeholder="Eg. 1.1 * 2 / 3", data-ng-model="expression")
				button.btn.btn-primary(data-ng-click="calculate()") Calculate
			div(data-ng-show="result")
				hr
				div(data-ng-class="{'text-danger': !success, 'text-success': success}")
					h4 Result
					div {{result}}